<h1>My Newts</h1>

<% if current_user.newts.present? %>
  <table class="zebra-striped">
    <tr>
      <th>ID</th>
      <th>Content</th>
      <th>Actions</th>
      <th>Other Editors</th>
    </tr>
  <% current_user.newts.each do |newt| %>
    <tr>
      <td><%= newt.uniq_id %></td>
      <td>
        <div id="newt-content">
          <small><%= newt.title %></small>
          <blockquote><p><%= raw(newt.content) %></p></blockquote>
        </div>
      </td>
      <td>
        <span class="label success"><%= link_to 'Edit', edit_newton_url(:id => newt.uniq_id, :secret => newt.uniq_secret) %></span>
        <span class="label"><%= link_to 'Details', newt %></span>
        <% if Newt.owner(newt) == current_user %>
        <span class="label important"><%= link_to 'Destroy', newt, :confirm => 'Are you sure?', :method => :delete %></span>
        <% end %>
      </td>
      <td>
        <% newt.user_newts.each do |u| %>
          <% unless u.owner %>
            <small><%= u.user.email %></small> 
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>
<% else %>
  <h6>You don't have any yet, why don't you make one?</h6>
  <%= link_to 'Create a Newt', new_newt_url, :class => 'btn success' %>
<% end %>
