
<h2><%= @newt.title %></h2>

<p>
  <h3>ID</h3>
    <pre class="prettyprint"><%= @newt.uniq_id %></pre>
</p>

<p>
  <h3>Insert Code</h3>
  <span class="help-inline">Insert the following code into any webpage, and BAM! editable content.</span>
  <pre class="prettyprint">
    <%= '<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>' %>
    <%= '<script src="' %><%= get_newton_script_url %><%= '" type="text/javascript"></script>' %>
    <%= '<div id="newt-' %><%= @newt.uniq_id %><%= '"></div>' %>
  </pre>
</p>


<p>
  <h3>Here's your glorious content, by the way</h3>
  <p class="span10">
    <div class="well"><%= raw(@newt.content) %></div>
  </p>
</p>